/* webcoder assignment CSS */

/* ===========================
--- Intro
============================ */
.intro {
	width:100%;
	position:relative;	
	background: url(CaraTurnsONE.jpg) no-repeat top center;
  background-size: cover;
  background-position: 0px -50px;
  height: -100vh;
  
}

#intro.intro {
  padding:100px 0 50px 0;
  
 
}







/*  ----- HTML Body Styles -----  */
body {
  position: relative;
  margin: 0;
  /* padding-bottom: 6rem; */
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* Padding for top navbar fixed  */
  padding-top: 30px; 
  
}

body{
  background-image: url(Cara-18.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 20;
  height: 100vh !important;
  position: relative;
  text-align: center;
  overflow: auto;
  justify-content: center;

}

.title1{
  color:  white;

}


.birthday{
  color: blue;
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;

}

.my-form{
  text-align: left;


}

.table-title{
  color:white;


}

.table{
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  border-color: grey;
  color: violet;


}

.mobile{
  color: red;
  background: transparent;
  font-size: 13px;
  
}

#h4{
  color: white;
}







html {
  height: 100%;
  box-sizing: border-box;
}



/* Responsive typography */
html {
    font-size: 14px;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 16px;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 20px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 28px;
    }
  }

/* Box-sizing */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* LAYOUT - Responsive breakpoints */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {  
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {  

}





}


/* GRID -  */

